$def with(n,m,f,hsize,lsize,low,hig)
<html>
	<head>
	<script>
		var NOWB = -1;
		var SPEED = 0;
		var set_color = function(i,j,co){
			if (co!=""){
				document.getElementById("table").rows[i].cells[j].style.background = co;
			}
		}

		var set_border = function(i,j,st){
			if (st!=""){
				document.getElementById("table").rows[i].cells[j].style.border = st;
			}
		}	
		var get_json = function(){
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET",window.location.href+"history",false);
			xmlhttp.send();
			HIS = eval("(" +xmlhttp.responseText+")");
			n = document.getElementById("table").rows.length;
			m = document.getElementById("table").rows[0].cells.length;
			return true;
		}
		var draw = function(x,w,co,bo){
			var i,j,a,b,c,d;
			a = HIS[x][w]['a'];
			b = HIS[x][w]['b'];
			c = HIS[x][w]['c'];
			d = HIS[x][w]['d'];
			i = a -1;
			do{
				j = b -1;
				i = (i + 1)%n;
				do{
					j = (j + 1)%m;
					set_color(i,j,co);
					set_border(i,j,bo);
				}while(j!=d);
			}while(i!=c);
			if (NOWB!=-1){
				document.getElementById(w).innerHTML = HIS[x][w]['sum'];
			}
		}

		var renew = function(){
			var i,j;
			for(i=0;i<n;i++)
				for(j=0;j<m;j++)
				{
					set_color(i,j,'white');
					set_border(i,j,'2px dotted black');
				}
		}

		var draw_it = function(){
			var i,j;
			renew();
			if(NOWB>=0){
				draw(NOWB,'now',"#AAAAAA","");
				draw(NOWB,'max',"","2px solid blue");
			}
		}
		
		var draw_next = function(){
			if(NOWB < HIS.length-1){
				NOWB += 1;
			}else{
				SPEED = 0;
			}
			draw_it();
			document.getElementById("step").innerHTML = NOWB+1;
		}
	
		var draw_last = function(){
			if(NOWB>=0){
				NOWB -= 1;
			} else{
				SPEED = 0;
			}
			draw_it();
			document.getElementById("step").innerHTML = NOWB+1;
		}
		
		var auto_go = function(){
			if (SPEED>0){
				draw_next();
			}
			else{
				draw_last();
			}
			if (SPEED){
				setTimeout("auto_go()",1000/Math.abs(SPEED));
			}
		}	

		var stop = function(){
			SPEED = 0;
		}
	
		var go	= function(x){
			if (SPEED == 0){
				SPEED = x;
				auto_go();
			}else{
				SPEED += x;
			}
			document.getElementById("speed").innerHTML = SPEED;
		}
		
		var check = function(){
			var hsize = document.getElementById("hsize").value;
			var	lsize = document.getElementById("lsize").value; 
			var low	  = document.getElementById("low").value;
			var hig	  = document.getElementById("hig").value;
			if (hsize<=0 || lsize <=0 || low>hig || hsize >50 || lsize > 50){
				alert("Number your input isn't available!")
				return false;
			}
			return true;
		}
	</script>
	<title>HeiHei</title>
	<style>
	td
	{
  		border:2px dotted black;
		width:30px;
		height:30px;
		background-color: white;
	}
	body 
	{
		background-color: #EEEEEE;
		font-family: Arial;
		font-size: 12pt;
		margin: 3% 10% 5% 10%;
		padding: 4% 5% 0% 5%;
		width: 70%;
		border: 1px solid #000000;
		line-height: 100%;
	}
	.t
	{
		width: 40px;
	}		
	</style>
	</head>
<body align="center"onload="get_json()">
	<h1>一维/二维最大子矩阵和求解图形化展示</h1>
	<p align="right">by <b>forwil 11091222</b></p>
	<form method="POST" enctype="multipart/form-data" action="">
		<hr/>
		<input type="file" name="myfile" />
		<br/>
		<input type="submit" value="Start" onclick="return check();">
		-h<input type="checkbox" name="h">
		-v<input type="checkbox" name="v">
		<br/>
		Row = <input type="text" name="hsize" id="hsize" class="t" maxlength="4" value="$hsize">
		Col = <input type="text" name="lsize" id="lsize" class="t" maxlength="4" value="$lsize">
		<br/>
		Random From = <input type="text" name="low" id="low" class="t" maxlength="4" value="$low">
		to = <input type="text" name="hig"  id="hig" class="t" maxlength="4" value="$hig">
		<hr/>
		<input type="button" value="Stop" onclick="stop()">
		<br/>
		<input type="button" value="<<" onclick="go(-1)">
		<input type="button" value="<" onclick="draw_last()" >
		Step:<span id="step">0</span>
		<input type="button" value=">" onclick="draw_next()">
		<input type="button" value=">>" onclick="go(1)">
		<br/>
	$if f:
		n = <b>$n </b>
		m = <b>$m</b>
		Speed = <b id="speed"></b>
		<table align="center" id="table">
		$for i in range(0,n):
			<tr>
			$for j in range(0,m):
				<td>$f[i][j]</td>
			</tr>
		</table>
		Now sum = <b><span id="now"></span></b><br/>
		Max sum = <b><span id="max"></span></b>
	</form>
</body>
</html>
